.calc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 13px 5px;
  padding: 8px;
  width: 400px;
}

.calc-row {
  width: 100%;
}

.calc-button,
.calc-zero,
.calc-operator {
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1em;
  outline: 1px solid #d3d3d3;
  color: #99948f;
  border: none;
}

.calc-button,
.calc-operator {
  width: 80px;
  height: 55px;
}

.calc-button {
  background-color: #e0e0e0;
}

.calc-zero {
  width: 160px;
  height: 55px;
  background-color: #e0e0e0;
}

.calc-operator {
  background-color: #f5913e;
}

.calc-input {
  height: 2em;
  width: 304.2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
  background-color: #858694;
  color: #fff;
  padding: 0.5em;
  outline: 1px solid #d3d3d3;
  border: none;
}
